<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/119afe7e51.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <a href="/"><img src="img/logo-mercado-liebre.svg" alt="logo" class="logo"></a>
        <div class="header_sup">
            <input type="text" placeholder="Buscar productos, marcas" class="buscador">
            <button type="submit" class="buscador__button">Enviar</button>
            <p class="compra_en_cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="header_nav">
            <ul class="navbar">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul class="loginbar">
                <li><a href="registro">Crea tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
            </div>
    </header>
    <main class="main_registro">
        <form action="" method="post">
            <label for="nombre">Ingrese su nombre</label>
            <input type="text" name="nombre" placeholder="Nombre aqui">

            <label for="apellido">Ingrese su apellido</label>
            <input type="text" name="apellido" placeholder="Apellido aqui">

            <label for="email">Ingrese su email</label>
            <input type="email" name="email" placeholder="nombre@email.com">

            <label for="contraseña">Ingrese su contraseña</label>
            <input type="password" name="contraseña" placeholder="su contraseña aqui...">

            <a href="/"><p class="boton_enviar">Enviar</p></a>
        </form>
    </main>
    <footer>
        <section class="footer_div">
            <div>
            <i class="fa-solid fa-credit-card" style="color: #177dbb;"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
            <i class="fa-solid fa-gift" style="color: #177dbb;"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
            <i class="fa-solid fa-user-shield" style="color: #177dbb;"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            </div>
        </section>
        <p id="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
    </footer>
</body>
</html>